<% provide(:title, 'Help') %>
  <h1>Help Page</h1>
    <p>
      This Todo App was created by Julie Torres, @JulieTorero, as a guide for
      Rails newbies who have already been through Hartl's Rails Tutorial at
      least once. Julie is a Ruby on Rails developer from Atlanta, GA.
    </p>
